.counter {
    text-align: center;
    margin-top: 10px;
    font-size: 1.2rem;
}

.btn-flex {
    width: 275px;
    display: flex;
    justify-content: space-evenly;
    box-sizing: border-box;
}

button {
    outline: none;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    color: #000000;
    cursor: pointer;
    font-weight: 600;
}